<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Drive Stays</title>

	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<title>Drive Stays</title>
	<!-- <link rel="stylesheet" type="text/css" href="./assets/styles/bootstrap.css" /> -->
	<link rel="stylesheet" href="./assets/styles/normalize.css">
	<link rel="stylesheet" href="./assets/styles/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/styles/pikaday.css" />
	<script src="./script/lib/JSXTransformers.js"></script>
</head>
<body>

	<div class="wrapper-body">
		<header>
			<div class="ds-container-1200">
				<div class="ds-row">
					<div class="content ds-header-fix">
						<div class="toggle-menu">
							<div></div>
							<div></div>
							<div></div>
				        </div>

				        <div class="logo-wrapper">
				        	<a href="./"><img src="./assets/images/drivestays_logo.png" height="55" class="img-logo" alt=""></a>

<div id=testReact></div>
				        </div>

				        <div class="menu-wrapper">
				        	<div class="main-menu">
				        		<ul class="menu-header">
				                	<li><a href="">List a Site</a></li>
				                	<!-- <li><a href="">List a Site</a></li> -->
				                </ul>
				          	</div>

				          	<div class="main-menu-user">
				            	<a href="login.html" class="register-head"><button class="btn-register">Sign In / Register</button></a>
				            	<div class="user-wrapper">
				              		<img src="./assets/images/user-upload.png" align="middle" alt="">
				              		<div class="user-name"> Hi, <strong id="profile-username">Steve</strong> </div>
				              		<div class="icon ds-chevron-down user-menu-trigger"></div>

				              		<ul class="user-menu">
				                		<li><a href="register.html"><div class="ds-user"></div>	My Profile</a></li>
				                		<li><a href="my_caravan.html"><div class="ds-caravan"></div>My Caravan</a></li>
				                		<li><a href="my_site.html"><div class="ds-site"></div>My Sites</a></li>
				                		<li><a href="transaction_list.html"><div class="ds-booked"></div>Transaction List</a></li>
				                		<li><a href="account_setting.html"><div class="ds-setting"></div>Account Setting</a></li>
				                		<li><a href="my_payment.html"><div class="ds-card"></div>Account Payment</a></li>
				                		<li id="btn-logout"><a><div class="ds-lock"></div>Logout</a></li>
				              		</ul>
				            	</div>
				          </div>

				        </div>
					</div>
				</div>
			</div>
		</header>

		<section class="map-wrapper">
			<div id="map" class="map-container"></div>
		</section>

		<section class="home-float">
			<div class="ds-container-1200">
				<div class="ds-row">
					<!--<div class="col-md-12 col-7">
						<div class="main-search-wrapper">
							<div class="form-search-home">
								<div class="form-home-wrapper">
									<div class="ds-container-fluid" id="form-search">
										<div class="ds-row">
											<div class="col-12">
												<h2>Find a Site	</h2>
											</div>
										</div>
										
										
										<div class="ds-row">
						                    <div class="col-12">
						                    	<div class="input-el">
						                        	<span class="ds-pin"></span>
						                        	<input type="text" placeholder="Input your destination" tabindex="1" id="search-location" data-validate="required">
						                        	<input type="hidden" id="location-lat">
						                        	<input type="hidden" id="location-long">
						                      	</div>
						                   	</div>
						                </div>

						                <div class="ds-row">
						                    <div class="col-md-12 col-6">
						                      	<div class="input-el">
						                        	<span class="ds-garage"></span>
						                        	<div class="select-area" tabindex="2">Stay Type</div>
						                        	<span class="ds-chevron-down"></span>
						                        	<input type="hidden" id="stay-type" name="stay-type" tabindex="2" data-validate="required">
						                        	<ul>
						                          		<li class="selected" value="1">Park Only</li>
						                          		<li value="2">Park and Stay</li>
						                        	</ul>
						                      </div>
						                    </div>
						                    <div class="col-md-12 col-6 last">
						                      	<div class="input-el">
						                        	<span class="ds-site"></span>
						                        	<div class="select-area" tabindex="3">Site Type</div>
						                        	<span class="ds-chevron-down"></span>
						                        	<input type="hidden" id="site-type" name="site-type" tabindex="3" data-validate="required">
						                        	<ul>
						                          		<li class="selected" value="1">Car and Trailer</li>
						                          		<li value="2">Camper / Trailer Only</li>
						                          		<li value="3">Car</li>
						                        	</ul>
						                      	</div>
						                    </div>                    
						                </div>

						                <div class="ds-row">
						                    <div class="col-md-12 col-4">
						                     	<div class="input-el">
						                    		<span class="ds-calendar"></span>
						                    		<input type="text" placeholder="Arrival" tabindex="4" class="datepicker" id="search-arrival" data-validate="required">
						                      	</div>
						                    </div>
						                    <div class="col-md-12 col-4">
						                      	<div class="input-el">
						                        	<span class="ds-calendar"></span>
						                        	<input type="text" placeholder="Departure" tabindex="5" class="datepicker" id="search-departure" data-validate="required">
						                      	</div>
						                    </div>    
						                    <div class="col-md-12 col-4 last">
						                      	<button class="btn-find" id="btn-find-site" tabindex="6" data-target-form="form-search">Find Site</button>
						                    </div>                
						                </div>

									</div>
								</div>
							</div>
						</div>
					</div>-->

					<div class="col-md-no-offset col-offset-7 col-md-12 col-5">
						<div class="main-highlight-wrapper">
							<div class="highlight-img" style="background:url('./assets/images/caravan.png')"></div>
							<div class="highlight-content">
								<div class="content">
									<h1>Find a Perfect Site for a Perfect Stay</h1>
									<h3>Lorem ipsum dolor sit amet, assum euripidis definitionem vim ei. In meis evertitur dissentias nam, id iriure lobortis expetenda per. Ne mei ponderum definitiones. Dolorem scripserit duo ne, ut usu porro oratio oportere. Gubergren voluptaria eu sed, velit verear viderer et qui.</h3>
									<button>How It Works</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				
			</div>

			<section class="main-search-wrapper">
				<div class="ds-row">
					<div class="ds-container-1200" id="form-search">
						<div class="col-md-12 col-3">
							<div class="input-el outline">
	                        	<span class="ds-pin"></span>
	                        	<input type="text" placeholder="Input your destination" tabindex="1" id="search-location" data-validate="required">
	                        	<input type="hidden" id="location-lat">
	                        	<input type="hidden" id="location-long">
	                      	</div>
						</div>
						<div class="col-md-12 col-3">
							<div class="input-el outline">
	                        	<span class="ds-garage"></span>
	                        	<div class="select-area" tabindex="2">Stay Type</div>
	                        	<span class="ds-chevron-down"></span>
	                        	<input type="hidden" id="stay-type" name="stay-type" tabindex="2" data-validate="required">
	                        	<ul>
	                          		<li class="selected" value="1">Overnight</li>
	                          		<li value="2">Short Stay</li>
	                        	</ul>
	                      </div>
						</div>
						<div class="col-md-12 col-2">
							<div class="input-el outline">
	                    		<span class="ds-calendar"></span>
	                    		<input type="text" placeholder="Arrival" tabindex="4" class="datepicker" id="search-arrival" data-validate="required">
	                      	</div>	
						</div>
						<div class="col-md-12 col-2">
							<div class="input-el outline">
	                        	<span class="ds-calendar"></span>
	                        	<input type="text" placeholder="Departure" tabindex="5" class="datepicker" id="search-departure" data-validate="required">
	                      	</div>
						</div>
						<div class="col-md-12 col-2">
							<button class="btn-find" id="btn-find-site" tabindex="6" data-target-form="form-search">Find Site</button>
						</div>
					</div>
				</div>
			</section>

			<!--<div class="ds-container-1200 bg-white section">
				<div class="ds-row top-rated-wrapper">
					<div class="content">
						<div class="section-title">
							<div class="section-title-img"><img src="./assets/images/top-rated.png" height="50" alt=""></div>
							<h1>Top Rated</h1>	
						</div>
					</div>
				</div>
			</div>

			<div class="ds-container-fluid bg-white section">
				<div class="ds-row">

					<div class="ds-container-1200">
						<div class="ds-row top-rated-list-wrapper">
					
							<div class="col-md-12 col-4">
								<div class="site-top-wrapper">
									<div class="site-img-thumb" style="background:url(./assets/images/site/1.png)">
										<div class="site-price">$ 200.00 /day</div>
										<div class="site-img-user"><img src="./assets/images/user-profile.png" alt=""></div>
									</div>
									<div class="site-location-rate">
										<div class="content">
											<div class="site-location">
												<div class="ds-pin"></div>
												<div class="location-name">Chicago</div>
											</div>
											<div class="site-rate">
												<img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                (5)
											</div>
										</div>
									</div>

									<div class="site-top-title">
										<h2>Tidings Hill, Halstead CO9</h2>
										<p>Located in a sought after location we are pleased to offer this spacious two bedroom house offering off road parking</p>
									</div>

									<div class="site-top-btngroup">
										<div class="ds-container-fluid">
											<div class="ds-row">
												<div class="col-6">
													<button class="btn-site btn-blue">Book Now</button>			
												</div>
												<div class="col-6">
													<button class="btn-site btn-blue-light">Owner Info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 col-4">
								<div class="site-top-wrapper">
									<div class="site-img-thumb" style="background:url(./assets/images/site/2.png)">
										<div class="site-price">$ 200.00 /day</div>
										<div class="site-img-user"><img src="./assets/images/user-profile.png" alt=""></div>
									</div>
									<div class="site-location-rate">
										<div class="content">
											<div class="site-location">
												<div class="ds-pin"></div>
												<div class="location-name">Chicago</div>
											</div>
											<div class="site-rate">
												<img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                (5)
											</div>
										</div>
									</div>

									<div class="site-top-title">
										<h2>Tidings Hill, Halstead CO9</h2>
										<p>Located in a sought after location we are pleased to offer this spacious two bedroom house offering off road parking</p>
									</div>

									<div class="site-top-btngroup">
										<div class="ds-container-fluid">
											<div class="ds-row">
												<div class="col-6">
													<button class="btn-site btn-blue">Book Now</button>			
												</div>
												<div class="col-6">
													<button class="btn-site btn-blue-light">Owner Info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-12 col-4">
								<div class="site-top-wrapper">
									<div class="site-img-thumb" style="background:url(./assets/images/site/3.png)">
										<div class="site-price">$ 200.00 /day</div>
										<div class="site-img-user"><img src="./assets/images/user-profile.png" alt=""></div>
									</div>
									<div class="site-location-rate">
										<div class="content">
											<div class="site-location">
												<div class="ds-pin"></div>
												<div class="location-name">Chicago</div>
											</div>
											<div class="site-rate">
												<img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                <img src="./assets/images/star.png" alt="">
								                (5)
											</div>
										</div>
									</div>

									<div class="site-top-title">
										<h2>Tidings Hill, Halstead CO9</h2>
										<p>Located in a sought after location we are pleased to offer this spacious two bedroom house offering off road parking</p>
									</div>

									<div class="site-top-btngroup">
										<div class="ds-container-fluid">
											<div class="ds-row">
												<div class="col-6">
													<button class="btn-site btn-blue">Book Now</button>			
												</div>
												<div class="col-6">
													<button class="btn-site btn-blue-light">Owner Info</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>-->

			<div class="ds-container-fluid section footer-section">
				<div class="ds-row">
					<div class="ds-container-1200">
						<div class="ds-row">
							
							<div class="col-md-12 col-8">
								<div class="menu-footer">
									<h4>Company</h4>	
									<ul>
										<li><a href="">About Us</a></li>
										<li><a href="">Information</a></li>
										<li><a href="">Press</a></li>
									</ul>
								</div>

								<div class="menu-footer">
									<h4>Support</h4>
						            <ul>
						             	<li><a href="">Contact Us</a></li>
						              	<li><a href="">Help</a></li>
						              	<li><a href="">Privacy</a></li>
						              	<li><a href="">Term of Use</a></li>
						              	<li><a href="">Site Map</a></li>
						            </ul>
								</div>

								<div class="menu-footer social-icon">
									<h4>Get Exclusive Content from Us</h4>
						            <ul class="no-tab">
						            	<li><a href=""><img src="./assets/images/facebook.png" alt="" height="50"></a></li>
						              	<li><a href=""><img src="./assets/images/twitter.png" alt="" height="50"></a></li>
						              	<li><a href=""><img src="./assets/images/google_plus.png" alt="" height="50"></a></li>
						            </ul>
								</div>
								
							</div>

							<div class="col-md-12 col-4">
				            <!-- <div class="form-wrapper"> -->
				            	<h4>Leave a comment</h4>
				            	<div class="input-el">
				              		<input type="text" placeholder="Your Email">
				            	</div>
				            	<div class="input-el push-top">
				              		<input type="text" placeholder="Your Name">
				            	</div>
				            	<div class="input-el push-top">
				              		<textarea name="" id="" cols="30" rows="10" placeholder="Input your comment here"></textarea>
				            	</div>	
				            	<button class="send-comment push-top">Send Comment</button>
				            <!-- </div> -->
				          	</div>

						</div>

						<div class="ds-row copyright">
				          	2016 DriveStays. All rights reserved
				        </div>
					</div>
				</div>
			</div>
		</section>
	</div>
<!--<script src="./script/jquery.min.js"></script>
<script type="text/javascript" src="./script/moment.min.js"></script>
<script type="text/javascript" src="./script/pikaday.js"></script>
<script src="./script/ds-script.js"></script>
<script src="./script/ds-cookies.js"></script>
<script src="./script/ds-element.js"></script>
<script src="./script/validation.js"></script>
<script src="./script/app/index.js"></script>-->
<script type="text/jsx" src="./script/app/index.js"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfSvkBOL2nOfLZKDWaf66EbbO9poShFaA&libraries=places">
</script>
</body>
</html>